form {
    font-size: 1.25rem;
    input {
        width: 100%;
    }
    input[type='email'] {
        background-color: $bg-color;
        border-width: 2;
        border-color: $form-color;
        border-style: dashed;
        color: white;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    input[type='submit'] {
        border-color: darken($color: $form-color, $amount: 10%);
        background-color: $form-color;
        color: $bg-color;
        font-weight: 800;
        border-width: 2;
        border-style: solid;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        &:hover {
            background-color: lighten($color: $form-color, $amount: 10%);
        }
    }
    input {
        display: block;
        &:first-child {
            margin-bottom: 2em;
        }

        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @include mq(lg) {
            text-align: left;
            margin-left: 0;
        }
    }
}
