form {
    @include mq(xl) {
        display: flex;
        .formkit-fields {
            gap: 12px !important;
        }
        .formkit-field,
        .formkit-submit {
            flex: 1 !important;
        }
    }
    input[type='email'] {
        background-color: $bg-color !important;
        border-width: 3px !important;
        border-color: $form-color !important;
        border-style: dashed !important;
        color: $yellow !important;
        padding-left: 1em !important;
        padding-right: 1em !important;
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
    }
    input[type='submit'],
    button {
        span {
            padding: 0 !important;
        }
        border-color: darken($color: $form-color, $amount: 10%) !important;
        background-color: $form-color !important;
        color: $bg-color !important;
        font-weight: 800 !important;
        border-width: 0 !important;
        border-radius: 0 !important;
        border-style: solid !important;
        padding-left: 1em !important;
        padding-right: 1em !important;
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
        &:hover, &:focus {
            span {
                background-color: $active-yellow !important;
            }
            background-color: $active-yellow !important;
        }
    }
    input {
        &:first-child {
            margin-bottom: 2em;
        }
        @include mq(lg) {
            text-align: left;
            margin-left: 0;
        }
    }
}

.highlight form {
    input[type='email'] {
        background-color: $blue-bg !important;
    }
    button {
        color: $blue-bg !important;
    }
}
