// Main Site Layout

body {
    overflow-x: hidden;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    .header,
    .footer {
        flex: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &::after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }
    }
}

.container {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 10%;
    padding-right: 10%;
    width:100%;
}

.highlight {
    background-color: $alternate-bg-color;
}

.md-right {
    @include mq(md) {
        text-align: right;
    }
}

.mb-1 {
    margin-bottom: 0.25em;
}

.mb-2 {
    margin-bottom: 0.5em;
}

.hero {
    text-align: center;
    & > *:first-child {
        margin-bottom: 3em;
    }
    @include mq(md) {
        text-align: left;
        width: 100%;
        display: flex;
        & > *:first-child {
            margin-bottom: 0;
            flex: 1;
        }
    }
}
.taglines {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.alternate {
    text-align: center;
    & > *:first-child {
        margin-bottom: 3em;
    }
    @include mq(md) {
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        & > *:first-child {
            margin-bottom: 0;
            flex: 1;
            text-align: right;
        }
    }

    .taglines {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}