<footer class="footer highlight" role="contentinfo">
    <div class="footer__inner container">
        Special thanks to
        <a href="https://monolisa.dev">
            MonoLisa
        </a>
        for the font!
    </div>
</footer>