<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            <a href="/">{% image "./src/assets/images/logo-green.png", "DevSession Logo" %}</a>
        </div>
    </div>
</header>