<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            {% image "./src/assets/images/logo-green.png", "DevSession Logo" %}
        </div>
    </div>
</header>