<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/TextPlugin.min.js"></script>

<svg
   width="400"
   height="420"
   viewBox="0 0 105.83333 111.125"
   version="1.1"
   id="svg21948"
   inkscape:version="1.1 (c4e8f9ed74, 2021-05-24)"
   sodipodi:docname="first-animation.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview21950"
     pagecolor="#505050"
     bordercolor="#eeeeee"
     borderopacity="1"
     inkscape:pageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="px"
     showgrid="false"
     units="px"
     inkscape:zoom="1"
     inkscape:cx="463.5"
     inkscape:cy="178.5"
     inkscape:window-width="1892"
     inkscape:window-height="1008"
     inkscape:window-x="1934"
     inkscape:window-y="36"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer5"
     inkscape:snap-global="false" />
  <defs
     id="defs21945">
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter42208"
       x="-0.047605271"
       y="-0.091394945"
       width="1.0952105"
       height="1.1827899">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="0.54357103"
         id="feGaussianBlur42210" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter49858"
       x="-0.025028597"
       y="-0.58398618"
       width="1.0500572"
       height="2.1679724">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="0.29775944"
         id="feGaussianBlur49860" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter55632"
       x="-0.047605271"
       y="-0.091394945"
       width="1.0952105"
       height="1.1827899">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="0.54357103"
         id="feGaussianBlur55634" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter55636"
       x="-0.062802336"
       y="-0.10702368"
       width="1.1256047"
       height="1.2140474">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="0.50366103"
         id="feGaussianBlur55638" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter56249"
       x="-0.032368226"
       y="-1.1506047"
       width="1.0647365"
       height="3.3012094">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="0.28910635"
         id="feGaussianBlur56251" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter70573"
       x="-0.086361476"
       y="-2.0150514"
       width="1.172723"
       height="5.0301027">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur70575" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter70577"
       x="-0.030395658"
       y="-1.8631773"
       width="1.0607913"
       height="4.7263545">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur70579" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter70581"
       x="-0.054957352"
       y="-2.0150514"
       width="1.1099147"
       height="5.0301027">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur70583" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter70585"
       x="-0.086361476"
       y="-2.0150514"
       width="1.172723"
       height="5.0301027">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur70587" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter70589"
       x="-0.054957352"
       y="-2.0150514"
       width="1.1099147"
       height="5.0301027">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur70591" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter70593"
       x="-0.030598644"
       y="-1.8691562"
       width="1.0611973"
       height="4.7383124">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur70595" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter78406"
       x="-0.086361476"
       y="-2.0150514"
       width="1.172723"
       height="5.0301027">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur78408" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter78410"
       x="-0.030395658"
       y="-1.8631773"
       width="1.0607913"
       height="4.7263545">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur78412" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter78414"
       x="-0.054957352"
       y="-2.0150514"
       width="1.1099147"
       height="5.0301027">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur78416" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter78418"
       x="-0.086361476"
       y="-2.0150514"
       width="1.172723"
       height="5.0301027">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur78420" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter78422"
       x="-0.054957352"
       y="-2.0150514"
       width="1.1099147"
       height="5.0301027">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur78424" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter78426"
       x="-0.030598644"
       y="-1.8691562"
       width="1.0611973"
       height="4.7383124">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="1.0274225"
         id="feGaussianBlur78428" />
    </filter>
  </defs>
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="background"
     style="display:inline">
    <rect
       style="fill:#010409;fill-opacity:1;stroke-width:0.614814;stroke-dasharray:1.22962, 0.614814;stop-color:#000000"
       id="rect3764-5-9-6"
       width="105.83334"
       height="111.125"
       x="0"
       y="0" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer5"
     inkscape:label="code"
     style="display:inline">
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 8.1759,7.116392 H 36.72815"
       id="path60362-4-3" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 16.33374,15.450392 H 44.88606"
       id="path60362-2-4-1" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.39006;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 8.1759,11.045192 H 97.65745"
       id="path60362-5-7-6" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-2"
       width="1.4812242"
       height="2.9257216"
       x="15.506776"
       y="5.4450803" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-6-8"
       width="1.4812242"
       height="2.9257216"
       x="27.997253"
       y="5.918469" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-3-8"
       width="1.4812242"
       height="2.9257216"
       x="53.661865"
       y="9.6887331" />
    <path
       style="opacity:0;fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 16.437146,19.792571 h 28.55232"
       id="added-line-1-1" />
    <path
       style="display:inline;opacity:0;fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 16.437146,24.0458 h 28.55232"
       id="added-line-2-1" />
    <path
       style="opacity:0;fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 16.33374,19.480691 H 44.88606"
       id="added-line-1-8" />
    <path
       style="opacity:0;fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 16.33374,23.445824 H 44.88606"
       id="added-line-2-5" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-3-5-8-4"
       width="1.4812242"
       height="2.9257216"
       x="85.411865"
       y="18.896832" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-8-8-7"
       width="1.4812242"
       height="2.9257216"
       x="51.743591"
       y="18.632183" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -117.50119,51.057107 h 28.55225"
       id="path60362-4-5-9-3-3" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -109.34335,58.896014 h 28.55232"
       id="path60362-2-4-9-1-3-8" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -109.34335,67.053917 h 44.86784"
       id="path60362-2-0-4-9-9-8-5" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.39006;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -117.50119,54.490814 h 89.48155"
       id="path60362-5-7-1-6-3-6" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.32515;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M -109.34335,62.956817 H -28.0245"
       id="path60362-5-9-6-4-2-7-1" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -109.34333,75.283517 h 28.55231"
       id="path60362-2-3-3-91-5-9-1" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -101.18553,87.520219 h 28.55231"
       id="path60362-2-3-0-1-0-4-3-5" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -101.18553,83.441417 h 44.86789"
       id="problematic-code-line-9" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -101.18553,91.599119 h 44.86789"
       id="path60362-2-0-8-9-5-5-9-8-8" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -117.50118,71.204717 h 69.3414"
       id="path60362-5-0-9-87-9-7-4" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -117.50116,99.757019 h 28.55232"
       id="path60362-28-9-6-0-3-4-8" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.38516;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -117.50118,103.75532 h 88.85132"
       id="path60362-5-0-6-7-4-6-1-1" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.32356;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -109.34333,79.312717 h 81.12388"
       id="path60362-5-9-4-8-8-0-9-0" />
    <path
       style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.31916;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -109.34333,95.630419 h 80.58574"
       id="path60362-5-9-4-1-5-0-5-0-3" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-3-96-9-9-0"
       width="1.4812242"
       height="2.9257216"
       x="-72.015228"
       y="53.13438" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-3-5-1-4-8-4"
       width="1.4812242"
       height="2.9257216"
       x="-40.265224"
       y="62.064068" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="problematic-code-piece-4"
       width="1.4812242"
       height="2.9257216"
       x="-66.194427"
       y="82.172462" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-8-4-5-5-4"
       width="1.4812242"
       height="2.9257216"
       x="-73.933502"
       y="61.799419" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-5-2-1-8-4"
       width="1.4812242"
       height="2.9257216"
       x="-105.15433"
       y="69.670998" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-61-2-7-4-7"
       width="1.4812242"
       height="2.9257216"
       x="-88.28714"
       y="102.4791" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-1-20-4-3-6"
       width="1.4812242"
       height="2.9257216"
       x="-87.22879"
       y="94.144875" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -109.34335,11.009014 h 44.86784"
       id="path60362-2-0-4-4-7-3" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.32515;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M -109.34335,6.911914 H -28.0245"
       id="path60362-5-9-6-9-1-1" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -109.34333,19.238614 h 28.55231"
       id="path60362-2-3-3-4-3-7" />
    <rect
       style="opacity:1;fill:#010409;fill-opacity:1;stroke:#010409;stroke-width:1.65062;stroke-opacity:1;stop-color:#000000"
       id="rect56986"
       width="109.25488"
       height="80.392288"
       x="173.63911"
       y="15.879824" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -117.50118,15.159814 h 69.3414"
       id="path60362-5-0-9-4-7-5" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -117.50116,43.712114 h 28.55232"
       id="path60362-28-9-6-1-9-9" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.38516;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -117.50118,47.710414 h 88.85132"
       id="path60362-5-0-6-7-2-9-6" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -101.18553,31.475314 h 28.55231"
       id="carols-line-3-2" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -101.18553,27.396514 h 44.86789"
       id="carols-line-2-1" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -101.18553,35.554214 h 44.86789"
       id="carols-line-4-7" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.32356;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -109.34333,23.267814 h 81.12388"
       id="carols-line-1-8" />
    <path
       style="fill:none;stroke:#4dcfd1;stroke-width:1.31916;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m -109.34333,39.585514 h 80.58574"
       id="carols-line-5-5" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-61-3-2-7"
       width="1.4812242"
       height="2.9257216"
       x="-88.28714"
       y="45.931744" />
    <g
       id="bobs-cursor-4"
       transform="translate(-125.67709,-12.877691)">
      <rect
         style="fill:#9c4dd1;fill-opacity:1;stroke:#010409;stroke-width:0.40789;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="rect91440-9-7-7-1"
         width="2.3264697"
         height="4.3046875"
         x="38.144516"
         y="94.20105" />
      <g
         id="g66322-8"
         transform="translate(0.10704434)">
        <rect
           style="fill:#010409;fill-opacity:1;stroke:#010409;stroke-width:0.298823;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
           id="rect47695-3-5"
           width="11.946632"
           height="7.2438803"
           x="33.22739"
           y="86.494827" />
        <rect
           style="fill:#010409;fill-opacity:1;stroke:#9c4dd1;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
           id="rect47695-4-0-9"
           width="10.88554"
           height="6.2136459"
           x="33.757935"
           y="87.009941" />
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.0729px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;fill:#9c4dd1;fill-opacity:1;stroke:none;stroke-width:0.237792;stroke-opacity:1"
           x="35.482841"
           y="91.960846"
           id="text68174-3-7"><tspan
             sodipodi:role="line"
             id="tspan68172-0-5"
             style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.0729px;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#9c4dd1;fill-opacity:1;stroke:none;stroke-width:0.237792;stroke-opacity:1"
             x="35.482841"
             y="91.960846">Bob</tspan></text>
      </g>
    </g>
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
       id="rect1666-5-3-1"
       width="1.4812242"
       height="2.9257216"
       x="20.522766"
       y="26.503765" />
    <path
       style="display:inline;fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 179.86795,66.621291 h 28.55231"
       id="bobs-line-1-7" />
    <path
       style="display:inline;fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 188.02575,78.857991 h 28.55231"
       id="bobs-line-4-0" />
    <path
       style="display:inline;fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 188.02575,74.779191 h 44.86789"
       id="bobs-line-3-8" />
    <path
       style="display:inline;fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 188.02575,82.936891 h 44.86789"
       id="bobs-line-5-6" />
    <path
       style="display:inline;fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.32356;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 179.86795,70.650491 h 81.12388"
       id="bobs-line-2-2" />
    <path
       style="display:inline;fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.31916;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 179.86795,86.968191 h 80.58574"
       id="bobs-line-6-4" />
    <rect
       style="fill:#4d59d1;fill-opacity:1;stroke:#010409;stroke-width:0.40789;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect91440-9-7-8"
       width="2.3264697"
       height="4.3046875"
       x="-44.654819"
       y="37.745892" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:#010409;stroke-width:0.526466;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect47695-8"
       width="21.353413"
       height="12.579453"
       x="-54.168247"
       y="24.682413" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:#4d59d1;stroke-width:0.815781;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect47695-4-3"
       width="20.495632"
       height="11.699245"
       x="-53.739353"
       y="25.122355" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:4.98023px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;fill:#4d59d1;fill-opacity:1;stroke:none;stroke-width:0.233448;stroke-opacity:1"
       x="-49.614742"
       y="30.382376"
       id="text68174-1"><tspan
         sodipodi:role="line"
         id="tspan68172-8"
         style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:4.98023px;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#4d59d1;fill-opacity:1;stroke:none;stroke-width:0.233448;stroke-opacity:1"
         x="-49.614742"
         y="30.382376">Carol</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:3.23476px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;fill:#d14d50;fill-opacity:1;stroke-width:0.15163"
       x="-47.377941"
       y="34.653755"
       id="text121249-9"><tspan
         sodipodi:role="line"
         id="tspan121247-6"
         style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:3.23476px;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#d14d50;fill-opacity:1;stroke-width:0.15163"
         x="-47.377941"
         y="34.653755">(DND)</tspan></text>
    <rect
       style="opacity:0;fill:#ff5e62;fill-opacity:1;stroke:none;stroke-width:0.592587;stroke-opacity:1;filter:url(#filter49858);stop-color:#000000"
       id="added-line-blurred"
       width="28.552246"
       height="1.2236979"
       x="16.300589"
       y="19.252581"
       rx="0.64185941"
       ry="0.10230499" />
    <g
       id="text-chunk-2">
      <rect
         style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
         id="rect1666-3-9-6-3"
         width="1.4812242"
         height="2.9257216"
         x="59.482666"
         y="39.005234" />
      <rect
         style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
         id="rect1666-1-8-2"
         width="1.4812242"
         height="2.9257216"
         x="38.448303"
         y="50.977646" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 8.1759,63.934798 H 36.72815"
         id="path60362-4-5-9-3" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33374,71.773705 H 44.88606"
         id="path60362-2-4-9-1-3" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33374,79.931608 H 61.20158"
         id="path60362-2-0-4-9-9-8" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.39006;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 8.1759,67.368505 H 97.65745"
         id="path60362-5-7-1-6-3" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.32515;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33374,75.834508 H 97.65259"
         id="path60362-5-9-6-4-2-7" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33376,88.161208 H 44.88607"
         id="path60362-2-3-3-91-5-9" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 24.49156,100.39791 H 53.04387"
         id="path60362-2-3-0-1-0-4-3" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 24.49156,96.319108 H 69.35945"
         id="problematic-code-line" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 24.49156,104.47681 H 69.35945"
         id="path60362-2-0-8-9-5-5-9-8" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 8.17591,84.082408 h 69.3414"
         id="path60362-5-0-9-87-9-7" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 8.17593,112.63471 H 36.72825"
         id="path60362-28-9-6-0-3-4" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.38516;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 8.17591,116.63301 H 97.02723"
         id="path60362-5-0-6-7-4-6-1" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.32356;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33376,92.190408 H 97.45764"
         id="path60362-5-9-4-8-8-0-9" />
      <path
         style="fill:#010409;fill-opacity:1;stroke:#4dcfd1;stroke-width:1.31916;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33376,108.50811 H 96.9195"
         id="path60362-5-9-4-1-5-0-5-0" />
      <rect
         style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
         id="rect1666-3-96-9-9"
         width="1.4812242"
         height="2.9257216"
         x="53.661865"
         y="66.01207" />
      <rect
         style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
         id="problematic-code-piece"
         width="1.4812242"
         height="2.9257216"
         x="59.482666"
         y="95.050156" />
      <rect
         style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
         id="rect1666-61-2-7-4"
         width="1.4812242"
         height="2.9257216"
         x="37.389954"
         y="115.3568" />
      <rect
         style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
         id="rect1666-1-20-4-3"
         width="1.4812242"
         height="2.9257216"
         x="38.448303"
         y="107.02257" />
      <path
         style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33374,23.886705 H 61.20158"
         id="path60362-2-0-4-4-7" />
      <path
         style="fill:none;stroke:#4dcfd1;stroke-width:1.32515;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33374,19.789605 H 97.65259"
         id="path60362-5-9-6-9-1" />
      <path
         style="fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33376,32.116305 H 44.88607"
         id="bobs-line-1" />
      <path
         style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 8.17591,28.037505 h 69.3414"
         id="path60362-5-0-9-4-7" />
      <path
         style="fill:none;stroke:#4dcfd1;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 8.17593,56.589805 H 36.72825"
         id="path60362-28-9-6-1-9" />
      <path
         style="fill:none;stroke:#4dcfd1;stroke-width:1.38516;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 8.17591,60.588105 H 97.02723"
         id="path60362-5-0-6-7-2-9" />
      <path
         style="fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 24.49156,44.353005 H 53.04387"
         id="bobs-line-4" />
      <path
         style="fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 24.49156,40.274205 H 69.35945"
         id="bobs-line-3" />
      <path
         style="fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.22367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 24.49156,48.431905 H 69.35945"
         id="bobs-line-5" />
      <path
         style="fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.32356;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33376,36.145505 H 97.45764"
         id="bobs-line-2" />
      <path
         style="fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:1.31916;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 16.33376,52.463205 H 96.9195"
         id="bobs-line-6" />
      <rect
         style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stop-color:#000000"
         id="rect1666-61-3-2"
         width="1.4812242"
         height="2.9257216"
         x="37.389954"
         y="58.809433" />
      <rect
         style="display:inline;opacity:0;fill:#ff5e62;fill-opacity:1;stroke:none;stroke-width:0.936949;stroke-opacity:1;filter:url(#filter70573);stop-color:#000000"
         id="bobs-line-1-blurred-red"
         width="28.552246"
         height="1.2236979"
         x="15.934105"
         y="31.554581" />
      <rect
         style="display:inline;opacity:0;fill:#ff5e62;fill-opacity:1;stroke:none;stroke-width:1.0144;stroke-opacity:1;filter:url(#filter70577);stop-color:#000000"
         id="bobs-line-2-blurred-red"
         width="81.123894"
         height="1.3234458"
         x="15.934074"
         y="35.533905" />
      <rect
         style="display:inline;opacity:0;fill:#ff5e62;fill-opacity:1;stroke:none;stroke-width:0.802727;stroke-opacity:1;filter:url(#filter70581);stop-color:#000000"
         id="bobs-line-3-blurred-red"
         width="44.867775"
         height="1.2236979"
         x="24.091927"
         y="39.712479" />
      <rect
         style="display:inline;opacity:0;fill:#ff5e62;fill-opacity:1;stroke:none;stroke-width:0.794013;stroke-opacity:1;filter:url(#filter70585);stop-color:#000000"
         id="bobs-line-4-blurred-red"
         width="28.552246"
         height="1.2236979"
         x="24.091911"
         y="43.791275" />
      <rect
         style="display:inline;opacity:0;fill:#ff5e62;fill-opacity:1;stroke:none;stroke-width:0.73031;stroke-opacity:1;filter:url(#filter70589);stop-color:#000000"
         id="bobs-line-5-blurred-red"
         width="44.867775"
         height="1.2236979"
         x="24.091927"
         y="47.870178" />
      <rect
         style="display:inline;opacity:0;fill:#ff5e62;fill-opacity:1;stroke:none;stroke-width:0.775557;stroke-opacity:1;filter:url(#filter70593);stop-color:#000000"
         id="bobs-line-6-blurred-red"
         width="80.585732"
         height="1.3192124"
         x="15.934074"
         y="51.853722" />
      <rect
         style="display:inline;opacity:0;fill:#5eff71;fill-opacity:1;stroke:none;stroke-width:0.936949;stroke-opacity:1;filter:url(#filter78406);stop-color:#000000"
         id="bobs-line-1-blurred-green"
         width="28.552246"
         height="1.2236979"
         x="15.934105"
         y="31.554583" />
      <rect
         style="display:inline;opacity:0;fill:#5eff71;fill-opacity:1;stroke:none;stroke-width:1.0144;stroke-opacity:1;filter:url(#filter78410);stop-color:#000000"
         id="bobs-line-2-blurred-green"
         width="81.123894"
         height="1.3234458"
         x="15.934074"
         y="35.533905" />
      <rect
         style="display:inline;opacity:0;fill:#5eff71;fill-opacity:1;stroke:none;stroke-width:0.802727;stroke-opacity:1;filter:url(#filter78414);stop-color:#000000"
         id="bobs-line-3-blurred-green"
         width="44.867775"
         height="1.2236979"
         x="24.091927"
         y="39.712479" />
      <rect
         style="display:inline;opacity:0;fill:#5eff71;fill-opacity:1;stroke:none;stroke-width:0.794013;stroke-opacity:1;filter:url(#filter78418);stop-color:#000000"
         id="bobs-line-4-blurred-green"
         width="28.552246"
         height="1.2236979"
         x="24.091911"
         y="43.791275" />
      <rect
         style="display:inline;opacity:0;fill:#5eff71;fill-opacity:1;stroke:none;stroke-width:0.73031;stroke-opacity:1;filter:url(#filter78422);stop-color:#000000"
         id="bobs-line-5-blurred-green"
         width="44.867775"
         height="1.2236979"
         x="24.091927"
         y="47.870178" />
      <g
         id="bobs-cursor-4-2"
         transform="translate(4.7321913,-52.19751)"
         style="display:inline">
        <rect
           style="fill:#9c4dd1;fill-opacity:1;stroke:#010409;stroke-width:0.40789;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
           id="rect91440-9-7-7-1-5"
           width="2.3264697"
           height="4.3046875"
           x="38.144516"
           y="94.20105" />
        <g
           id="g66322-8-4"
           transform="translate(0.10704434)">
          <rect
             style="fill:#010409;fill-opacity:1;stroke:#010409;stroke-width:0.298823;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
             id="rect47695-3-5-0"
             width="11.946632"
             height="7.2438803"
             x="33.22739"
             y="86.494827" />
          <rect
             style="fill:#010409;fill-opacity:1;stroke:#9c4dd1;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
             id="rect47695-4-0-9-5"
             width="10.88554"
             height="6.2136459"
             x="33.757935"
             y="87.009941" />
          <text
             xml:space="preserve"
             style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.0729px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;fill:#9c4dd1;fill-opacity:1;stroke:none;stroke-width:0.237792;stroke-opacity:1"
             x="35.482841"
             y="91.960846"
             id="text68174-3-7-9"><tspan
               sodipodi:role="line"
               id="tspan68172-0-5-4"
               style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.0729px;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#9c4dd1;fill-opacity:1;stroke:none;stroke-width:0.237792;stroke-opacity:1"
               x="35.482841"
               y="91.960846">Bob</tspan></text>
        </g>
      </g>
      <rect
         style="display:inline;opacity:0;fill:#5eff71;fill-opacity:1;stroke:none;stroke-width:0.775557;stroke-opacity:1;filter:url(#filter78426);stop-color:#000000"
         id="bobs-line-6-blurred-green"
         width="80.585732"
         height="1.3192124"
         x="15.934074"
         y="51.853722" />
    </g>
  </g>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     style="display:inline">
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.2237;stroke-opacity:1;stop-color:#000000"
       id="rect20681"
       width="98.583191"
       height="59.61272"
       x="2.5504472"
       y="62.61776"
       rx="0.18716651"
       ry="0.5751698" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#010409;stroke-width:0.40789;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect91440-9"
       width="2.3264697"
       height="4.3046875"
       x="45.230034"
       y="13.619822" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.77204;stroke-opacity:1;stop-color:#000000"
       id="rect20809"
       width="125.28156"
       height="7.4635544"
       x="-14.367155"
       y="-2.001617"
       rx="0.31561616"
       ry="1.1965578" />
    <rect
       style="fill:none;stroke:#505050;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect1379"
       width="98.413025"
       height="60.997955"
       x="3.7101736"
       y="3.6794417"
       rx="0.31561738"
       ry="0.5706085" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:0.214031;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect113001-9"
       width="15.203502"
       height="4.0632758"
       x="45.31493"
       y="0.2345093" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:4.61347px;line-height:1.25;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;fill:#4dcfd1;fill-opacity:1;stroke-width:0.216256"
       x="48.300888"
       y="5.10428"
       id="text107873-9"><tspan
         sodipodi:role="line"
         id="tspan107871-3"
         style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:4.61347px;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#4dcfd1;fill-opacity:1;stroke-width:0.216256"
         x="48.300888"
         y="5.10428">Code</tspan></text>
    <rect
       style="fill:none;stroke:#505050;stroke-width:0.793747;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect2310"
       width="98.413094"
       height="17.241684"
       x="3.7101126"
       y="68.948975"
       rx="0.3129876"
       ry="0.72883123" />
    <rect
       style="fill:#010409;fill-opacity:1;stroke:none;stroke-width:0.335617;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect113001"
       width="37.383595"
       height="4.0632758"
       x="34.222645"
       y="67.396957" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:4.61347px;line-height:1.25;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;fill:#4dcfd1;fill-opacity:1;stroke-width:0.216256"
       x="37.865345"
       y="70.505829"
       id="text107873"><tspan
         sodipodi:role="line"
         id="tspan107871"
         style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:4.61347px;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#4dcfd1;fill-opacity:1;stroke-width:0.216256"
         x="37.865345"
         y="70.505829">Feature flags</tspan></text>
    <rect
       style="display:inline;fill:#010409;fill-opacity:1;stroke:none;stroke-width:1.75671;stop-color:#000000"
       id="rect1666-8-4-5-5"
       width="2.1264019"
       height="4.2000799"
       x="65.396408"
       y="77.610069" />
    <g
       id="g9854"
       transform="matrix(0.87646349,0,0,0.87646349,5.129184,10.069584)">
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.18989px;line-height:1.25;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;fill:#4dcfd1;fill-opacity:1;stroke:#4dcfd1;stroke-width:0.383902;stroke-opacity:1"
         x="21.266382"
         y="81.310532"
         id="text5184-47"
         transform="scale(1.0169697,0.98331347)"><tspan
           sodipodi:role="line"
           id="tspan5182-7"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.18989px;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#4dcfd1;fill-opacity:1;stroke:#4dcfd1;stroke-width:0.383902;stroke-opacity:1"
           x="21.266382"
           y="81.310532">Alice (me)</tspan></text>
      <rect
         style="fill:none;fill-opacity:1;stroke:#4dcfd1;stroke-width:0.490791;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="rect171082-9-48"
         width="9.782136"
         height="4.7167053"
         x="6.9957061"
         y="75.412743"
         ry="2.3583527" />
      <ellipse
         style="fill:#4dcfd1;fill-opacity:1;stroke:#4dcfd1;stroke-width:0.490791;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="path171186-2-1"
         cx="14.165117"
         cy="77.771523"
         rx="1.4701802"
         ry="1.421525" />
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.17814px;line-height:1.25;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:0.336476;stroke-opacity:1"
       x="82.646706"
       y="81.495407"
       id="bob-feature-text"
       transform="scale(1.0169697,0.98331347)"><tspan
         sodipodi:role="line"
         id="tspan5182"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.17814px;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:0.336476;stroke-opacity:1"
         x="82.646706"
         y="81.495407">Bob</tspan></text>
    <rect
       style="fill:none;fill-opacity:1;stroke:#505050;stroke-width:0.43016;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="bob-toggle-frame"
       width="8.5736847"
       height="4.1340199"
       x="70.981552"
       y="75.859406"
       ry="2.0670099" />
    <ellipse
       style="fill:#505050;fill-opacity:1;stroke:#505050;stroke-width:0.43016;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="bob-switch"
       cx="73.304092"
       cy="77.926788"
       rx="1.2885592"
       ry="1.2459148" />
    <g
       id="tests-passing">
      <rect
         style="fill:none;stroke:#4dd15d;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="tests-running-rect"
         width="35.740696"
         height="18.616407"
         x="66.382538"
         y="90.435303"
         rx="0.11499774"
         ry="0.58055568" />
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;white-space:pre;inline-size:36.3664;fill:#4dd15d;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
         x="911.49701"
         y="2582.793"
         id="text19970"
         transform="matrix(1.0792398,0,0,1.0792398,-899.51977,-2689.2781)"><tspan
           x="911.49701"
           y="2582.793"
           id="tspan79559">TESTS<tspan
   y="2582.793"
   id="tspan79561"> </tspan></tspan><tspan
           x="911.49701"
           y="2589.8486"
           id="tspan79563">PASSING</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;white-space:pre;inline-size:36.3664;fill:#d1cb4d;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
       x="911.49701"
       y="2582.793"
       id="text19970-0"
       transform="matrix(1.0792398,0,0,1.0792398,-900.42891,-2627.3137)"><tspan
         x="911.49701"
         y="2582.793"
         id="tspan79565">Tests<tspan
   y="2582.793"
   id="tspan79567"> </tspan></tspan><tspan
         x="911.49701"
         y="2589.8486"
         id="tspan79569">Running...</tspan></text>
    <g
       id="tests-running"
       style="opacity:0"
       transform="translate(42.184135,-43.66066)">
      <rect
         style="fill:none;stroke:#d1cb4d;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="rect2206-56"
         width="35.740696"
         height="18.616407"
         x="24.198402"
         y="134.09596"
         rx="0.11499774"
         ry="0.58055568" />
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;white-space:pre;inline-size:36.3664;fill:#d1cb4d;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
         x="911.49701"
         y="2582.793"
         id="text19970-0-7"
         transform="matrix(1.0792398,0,0,1.0792398,-941.35059,-2645.6174)"><tspan
           x="911.49701"
           y="2582.793"
           id="tspan79571">TESTS<tspan
   y="2582.793"
   id="tspan79573"> </tspan></tspan><tspan
           x="911.49701"
           y="2589.8486"
           id="tspan79575">RUNNING...</tspan></text>
    </g>
    <g
       id="tests-failing-flash"
       style="opacity:0;mix-blend-mode:normal;filter:url(#filter42208)"
       transform="translate(-44.881882,6.0855784)">
      <rect
         style="mix-blend-mode:normal;fill:none;stroke:#ff5e62;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="rect2206-56-8-7"
         width="35.740696"
         height="18.616407"
         x="111.26442"
         y="84.349724"
         rx="0.11499774"
         ry="0.58055568" />
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;white-space:pre;inline-size:36.3664;mix-blend-mode:normal;fill:#ff5e62;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
         x="911.49701"
         y="2582.793"
         id="text19970-0-7-5-3"
         transform="matrix(1.0792398,0,0,1.0792398,-854.66835,-2695.3637)"><tspan
           x="911.49701"
           y="2582.793"
           id="tspan79577">TESTS<tspan
   y="2582.793"
   id="tspan79579"> </tspan></tspan><tspan
           x="911.49701"
           y="2589.8486"
           id="tspan79581">FAILING</tspan></text>
    </g>
    <g
       id="tests-failing"
       transform="translate(-3.3241963,-39.69191)"
       style="opacity:0">
      <rect
         style="fill:none;stroke:#d14d50;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="rect2206-56-8"
         width="35.740696"
         height="18.616407"
         x="69.706734"
         y="130.12721"
         rx="0.11499774"
         ry="0.58055568" />
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;white-space:pre;inline-size:36.3664;fill:#d14d50;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
         x="911.49701"
         y="2582.793"
         id="text19970-0-7-5"
         transform="matrix(1.0792398,0,0,1.0792398,-896.22603,-2649.5862)"><tspan
           x="911.49701"
           y="2582.793"
           id="tspan79583">TESTS<tspan
   y="2582.793"
   id="tspan79585"> </tspan></tspan><tspan
           x="911.49701"
           y="2589.8486"
           id="tspan79587">FAILING</tspan></text>
    </g>
    <rect
       style="fill:none;stroke:#d1cb4d;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect2206-56-7"
       width="35.740696"
       height="18.616407"
       x="-20.251598"
       y="131.18555"
       rx="0.11499774"
       ry="0.58055568" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;white-space:pre;inline-size:36.3664;fill:#d1cb4d;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
       x="911.49701"
       y="2582.793"
       id="text19970-0-7-4"
       transform="matrix(1.0792398,0,0,1.0792398,-985.80059,-2649.1766)"><tspan
         x="911.49701"
         y="2582.793"
         id="tspan79589">Tests<tspan
   y="2582.793"
   id="tspan79591"> </tspan></tspan><tspan
         x="911.49701"
         y="2589.8486"
         id="tspan79593">Running...</tspan></text>
    <rect
       style="fill:none;stroke:#505050;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect2206-5"
       width="58.170334"
       height="18.44372"
       x="3.7101126"
       y="90.521729"
       rx="0.18716641"
       ry="0.5751704" />
    <rect
       style="fill:#232323;fill-opacity:1;stroke:none;stroke-width:0.244452;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="rect20201-3-9-5"
       width="44.421021"
       height="31.272339"
       x="141.56657"
       y="137.02838" />
    <circle
       style="fill:#ff5e62;fill-opacity:1;stroke-width:0.307447;stroke-dasharray:0.614891, 0.307447;stop-color:#000000"
       id="path3854-3-8-6-6"
       cx="149.84093"
       cy="145.46027"
       r="4.7996044" />
    <circle
       style="fill:#bf5eff;fill-opacity:1;stroke-width:0.307447;stroke-dasharray:0.614891, 0.307447;stop-color:#000000"
       id="path3854-6-1-8-3-1"
       cx="155.41539"
       cy="145.46027"
       r="4.7996044" />
    <circle
       style="fill:#5e6dff;fill-opacity:1;stroke-width:0.307447;stroke-dasharray:0.614891, 0.307447;stop-color:#000000"
       id="path3854-1-7-3-8-1"
       cx="160.98979"
       cy="145.46027"
       r="4.7996044" />
    <circle
       style="fill:#5efcff;fill-opacity:1;stroke-width:0.307447;stroke-dasharray:0.614891, 0.307447;stop-color:#000000"
       id="path3854-15-5-1-5-5"
       cx="166.56438"
       cy="145.46027"
       r="4.7996044" />
    <circle
       style="fill:#5eff71;fill-opacity:1;stroke-width:0.307447;stroke-dasharray:0.614891, 0.307447;stop-color:#000000"
       id="path3854-9-9-8-6-9"
       cx="172.13884"
       cy="145.46027"
       r="4.7996044" />
    <circle
       style="fill:#fff85e;fill-opacity:1;stroke-width:0.307447;stroke-dasharray:0.614891, 0.307447;stop-color:#000000"
       id="path3854-8-6-9-1-8"
       cx="177.7133"
       cy="145.46027"
       r="4.7996044" />
    <circle
       style="fill:#d14d50;fill-opacity:1;stroke-width:0.306517;stroke-dasharray:0.613034, 0.306517;stop-color:#000000"
       id="path3854-4-4-1-4"
       cx="149.82652"
       cy="159.88361"
       r="4.7851033" />
    <circle
       style="fill:#9c4dd1;fill-opacity:1;stroke-width:0.306517;stroke-dasharray:0.613034, 0.306517;stop-color:#000000"
       id="path3854-6-8-2-5-8"
       cx="155.38408"
       cy="159.88361"
       r="4.7851033" />
    <circle
       style="fill:#4d59d1;fill-opacity:1;stroke-width:0.306517;stroke-dasharray:0.613034, 0.306517;stop-color:#000000"
       id="path3854-1-1-2-9-1"
       cx="160.94182"
       cy="159.88361"
       r="4.7851033" />
    <circle
       style="fill:#4dcfd1;fill-opacity:1;stroke-width:0.306517;stroke-dasharray:0.613034, 0.306517;stop-color:#000000"
       id="path3854-15-0-2-8-0"
       cx="166.49931"
       cy="159.88361"
       r="4.7851033" />
    <circle
       style="fill:#4dd15d;fill-opacity:1;stroke-width:0.306517;stroke-dasharray:0.613034, 0.306517;stop-color:#000000"
       id="path3854-9-3-0-4-3"
       cx="172.05693"
       cy="159.88361"
       r="4.7851033" />
    <ellipse
       style="fill:#d1cb4d;fill-opacity:1;stroke-width:0.306517;stroke-dasharray:0.613034, 0.306517;stop-color:#000000"
       id="path3854-8-0-5-8-0"
       cx="177.61455"
       cy="159.88361"
       rx="4.7851181"
       ry="4.7851033" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;white-space:pre;inline-size:85.6307;opacity:0;fill:#4dcfd1;fill-opacity:1;stroke:#4dcfd1;stroke-width:0.264583;stroke-opacity:1"
       x="826.65094"
       y="2589.2253"
       id="alice-chat-text"
       transform="matrix(0.60542047,0,0,0.68291861,-493.64841,-1672.4916)"><tspan
         x="826.65094"
         y="2589.2253"
         id="tspan79595">Alice: Bob, can I change this </tspan><tspan
         x="826.65094"
         y="2596.2809"
         id="tspan79597">to be &lt;= instead?</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:'Iosevka Term';-inkscape-font-specification:'Iosevka Term, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;white-space:pre;inline-size:63.756;opacity:0;fill:#9c4dd1;fill-opacity:1;stroke:#9c4dd1;stroke-width:0.264583;stroke-opacity:1"
       x="826.65094"
       y="2589.2253"
       id="bob-chat-text"
       transform="matrix(0.60542047,0,0,0.68291861,-493.82862,-1662.0273)"><tspan
         x="826.65094"
         y="2589.2253"
         id="tspan79599">Bob: Sure!</tspan></text>
    <g
       id="tests-passing-flash"
       style="opacity:0"
       transform="translate(-48.303361,35.71434)">
      <rect
         style="fill:none;stroke:#5eff71;stroke-width:0.79375;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter55632);stop-color:#000000"
         id="tests-running-rect-9"
         width="35.740696"
         height="18.616407"
         x="114.6859"
         y="54.720963"
         rx="0.11499774"
         ry="0.58055568" />
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Iosevka;-inkscape-font-specification:'Iosevka, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;white-space:pre;inline-size:36.3664;fill:#5eff71;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1;filter:url(#filter55636)"
         x="911.49701"
         y="2582.793"
         id="text19970-6"
         transform="matrix(1.0792398,0,0,1.0792398,-851.21641,-2724.9924)"><tspan
           x="911.49701"
           y="2582.793"
           id="tspan79601">TESTS<tspan
   y="2582.793"
   id="tspan79603"> </tspan></tspan><tspan
           x="911.49701"
           y="2589.8486"
           id="tspan79605">PASSING</tspan></text>
    </g>
    <rect
       style="opacity:0;fill:#5eff71;fill-opacity:1;stroke:#5eff71;stroke-width:0.432652;stroke-opacity:1;filter:url(#filter56249);stop-color:#000000"
       id="added-line-green-flash"
       width="28.119589"
       height="0.79104596"
       x="16.794342"
       y="19.367229" />
  </g>
</svg>
<script>

runThirdAnimation();
function runThirdAnimation() {
  const cursor = "#rect91440-9";
  const textChunk1 = "#text-chunk-1";
  const textChunk2 = "#text-chunk-2";
  const addedLine1 = "#added-line-1-1";
  const addedLineRedFlash = "#added-line-blurred";
  const addedLineGreenFlash = "#added-line-green-flash";
  const addedLine2 = "#added-line-2-1";
  const problematicLine = "#problematic-code-line";
  const problematicCodePiece = "#problematic-code-piece";
  const testsPassing = "#tests-passing";
  const testsPassingFlash = "#tests-passing-flash";
  const testsRunning = "#tests-running";
  const testsFailing = "#tests-failing";
  const testsFailingFlash = "#tests-failing-flash";

  const bobSwitch = "#bob-switch";
  const bobToggleFrame = "#bob-toggle-frame";
  const bobFeatureText = "#bob-feature-text, #tspan5182";
  const carolSwitch = "#carol-switch";
  const carolToggleFrame = "#carol-toggle-frame";
  const carolFeatureText = "#carol-feature-text, #tspan5182-7-9-8";
  const charlieSwitch = "#charlie-switch";
  const charlieToggleFrame = "#charlie-toggle-frame";
  const charlieFeatureText = "#charlie-feature-text, #tspan5182-7-9";

  const bobsCursor = "#bobs-cursor-4-2";
  const carolsCursor = "#carols-cursor";

  const bobsLines = "#bobs-line-1, #bobs-line-2, #bobs-line-3, #bobs-line-4, #bobs-line-5, #bobs-line-6";
  const bobsLinesFlashRed = "#bobs-line-1-blurred-red, #bobs-line-2-blurred-red, #bobs-line-3-blurred-red, #bobs-line-4-blurred-red, #bobs-line-5-blurred-red, #bobs-line-6-blurred-red";
  const bobsLinesFlashGreen = "#bobs-line-1-blurred-green, #bobs-line-2-blurred-green, #bobs-line-3-blurred-green, #bobs-line-4-blurred-green, #bobs-line-5-blurred-green, #bobs-line-6-blurred-green";
  const bobsLine3 = "#bobs-line-3";

  const aliceChatText = "#alice-chat-text";
  const bobChatText = "#bob-chat-text";

//   const blue = "rgb(167, 216, 255)";
//   const yellow = "rgb(227, 176, 110)";
  const green = "rgb(77, 209, 93)";
  const brightGreen = "rgb(94, 255, 113)";
  const cyan = "rgb(77, 207, 209)";
  const gray = "rgb(80, 80, 80)";
  const purple = "rgb(156, 77, 209)"
  const red = "rgb(209, 77, 80)";
  const brightRed = "rgb(255, 94, 98)";
//   const disabledGray = "rgb(50, 50, 50)";

//   function showIds(tl, ids, phaseNumber) {
//     tl.set(ids.join(", "),
//       { opacity: 1 }, phaseNumber
//     );
//   }
// 
//   function hideIds(tl, ids, phaseNumber) {
//     tl.set(ids.join(", "),
//       { opacity: 0 }, phaseNumber
//     );
//   }
// 
//   function changeColor(tl, ids, color, phaseNumber) {
//     tl.set(ids.join(", "),
//       { fill: color, stroke: color}, phaseNumber
//     );
//   }
// 
//   function changeText(tl, id, text, phaseNumber) {
//     tl.set(id,
//       { opacity: 1, text }, phaseNumber
//     );
//   }
// 
//   function changeTextAndColor(tl, id, text, color, phaseNumber) {
//     tl.set(id,
//       { text, opacity: 1, fill: color}, phaseNumber
//     );
//   }
//   function moveCursor(tl, attrs, phaseNumber) {
//     tl.to(cursor,
//        Object.assign({}, { duration: 0.5 }, attrs), phaseNumber
//     );
//   }
// 
//   function easeIn(tl, id, attrs, phaseNumber) {
//     tl.to(id,
//       Object.assign({}, { opacity: 1, duration: 0.2 }, attrs), phaseNumber
//     );
//   }

  // const mainTimeline = gsap.timeline({repeat: "-1", repeatDelay: 30}).timeScale(7)
  const mainTimeline = gsap.timeline({repeat: "-1", repeatDelay: 5}).timeScale(2)
       .add(type_first_line(), "+=0.5")
       // .add(fixFirstBug(), "+=2")
       .add(switchBobOn(), "+=2")
       .add(findBob(), "+=0.5")

//   let totalDuration = "372.75";
//   let paused = false;
//   let restarting = false;
//   document.querySelector(restartButton).addEventListener("click", function() {
//     if (restarting) {
//       return;
//     }
//     var tl = gsap.timeline({onComplete: function() { restarting = false }});
//     paused = false;
//     restarting = true;
//     changeElement(tl, restartButton, {opacity: 0, duration: 0}, 0);
//     changeElement(tl, restartButtonPressed, {opacity: 1, duration: 0}, 0);
// 
//     changeElement(tl, restartButton, {opacity: 1, duration: 0}, 0.5);
//     changeElement(tl, restartButtonPressed, {opacity: 0, duration: 0}, 0.5);
// 
//     unpause();
//     mainTimeline.restart();
//   });
// 
//   function pause() {
//     paused = true;
//     var tl = gsap.timeline();
//     changeElement(tl, playButton, {opacity: 1, duration: 0}, 0);
//     changeElement(tl, pauseButton, {opacity: 0, duration: 0}, 0);
//     mainTimeline.pause();
//   }
// 
//   function unpause() {
//     paused = false;
//     var tl = gsap.timeline();
//     changeElement(tl, playButton, {opacity: 0, duration: 0}, 0);
//     changeElement(tl, pauseButton, {opacity: 1, duration: 0}, 0);
//     mainTimeline.resume();
//   }
// 
//   document.querySelector(pauseButton).addEventListener("click", function() {
//     if (restarting) {
//       return;
//     }
//     if (paused) {
//       unpause();
//     } else {
//       pause();
//     }
//   });
// 
//   document.querySelector(backwardsButton).addEventListener("click", function() {
//     if (restarting) {
//       return;
//     }
//     let currentTime = mainTimeline.totalTime();
//     if (currentTime > 0) {
//       mainTimeline.totalTime(currentTime - 1);
//     }
//   });
// 
//   document.querySelector(fastBackwardsButton).addEventListener("click", function() {
//     if (restarting) {
//       return;
//     }
//     let currentTime = mainTimeline.totalTime();
//     if (currentTime > 5) {
//       mainTimeline.totalTime(currentTime - 5);
//     } else {
//       mainTimeline.totalTime(0);
//     }
//   });
// 
//   document.querySelector(forwardsButton).addEventListener("click", function() {
//     if (restarting) {
//       return;
//     }
//     let currentTime = mainTimeline.totalTime();
//     mainTimeline.totalTime(currentTime + 1);
//   });
// 
//   document.querySelector(fastForwardsButton).addEventListener("click", function() {
//     if (restarting) {
//       return;
//     }
//     let currentTime = mainTimeline.totalTime();
//     mainTimeline.totalTime(currentTime + 5);
//   });

  function moveCursor(tl, attrs, phaseNumber) {
    tl.to(cursor,
       Object.assign({}, { duration: 0.5 }, attrs), phaseNumber
    );
  }
  function changeElement(tl, el, attrs, phaseNumber) {
    tl.to(el,
       Object.assign({}, { duration: 0.5 }, attrs), phaseNumber
    );
  }

  function type_first_line() {
    var tl = gsap.timeline();
    // setup
    tl.set(addedLine1, {scaleX: "0.01"}, 0);

    // move cursor to beginning of next line
    moveCursor(tl, {y: "+=4", x: "-=29"}, 0);

    // move text down
    changeElement(tl, textChunk2, {y: "+=4.1"}, 0);

    // set tests running
    tl.set(testsPassing, {opacity: 0}, 0);
    tl.set(testsRunning, {opacity: 1}, 0);

    // type in first line 1
    tl.to(addedLine1, {duration: 0, delay: 0.5, opacity: "1", scaleX: "0.1"}, 1);
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");

    // type in first line 2
    tl.to(addedLine1, { duration: 0, delay: 0.5, opacity: "1", scaleX: "0.2"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");
    changeElement(tl, bobsCursor, {x: "+=7", y: "+=4", duration: 0.5}, "<"); // move bob 

    // type in first line 2
    tl.to(addedLine1, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.3"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");

    // type in first line 3
    tl.to(addedLine1, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.4"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");

    // type in first line 4
    tl.to(addedLine1, { duration: 0, delay: 0.5, opacity: "1", scaleX: "0.5"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");
    
    // type in first line 5
    tl.to(addedLine1, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.6"});
    tl.to(cursor, { duration: 0, x: "+=2.5"}, "<");
    
    // type in first line 6
    tl.to(addedLine1, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.7"});
    tl.to(cursor, { duration: 0, x: "+=2.5"}, "<");
    changeElement(tl, bobsCursor, {x: "-=11", y: "+=4", duration: 0.5}, "<"); // move bob 
    
    // type in first line 7
    tl.to(addedLine1, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.8"});
    tl.to(cursor, { duration: 0, x: "+=2.5"}, "<");
    
    // type in first line 8
    tl.to(addedLine1, { duration: 0, delay: 0.5, opacity: "1", scaleX: "0.9"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");
    changeElement(tl, bobsCursor, {x: "-=2", duration: 1}, "<"); // move bob 
    
    // type in first line 9
    tl.to(addedLine1, { duration: 0, delay: 0.3, opacity: "1", scaleX: "1"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");
   
//     // set tests failing
//     tl.set(testsFailing, {opacity: 1, delay: "0.5"}, "<+");
//     tl.set(testsRunning, {opacity: 0}, "<");
// 
//     // flash line red
//     tl.set(addedLine1, {fill: brightRed, stroke: brightRed}, "<");
//     tl.set(addedLineRedFlash, {opacity: 1}, "<");
//     tl.set(testsFailingFlash, {opacity: 1}, "<");
//     tl.set(addedLine1, {fill: cyan, stroke: cyan}, "<+0.4");
//     tl.set(testsFailingFlash, {opacity: 0}, "<");
//     tl.set(addedLineRedFlash, {opacity: 0}, "<");
//     tl.set(addedLine1, {fill: brightRed, stroke: brightRed}, "<+0.4");
//     tl.set(testsFailingFlash, {opacity: 1}, "<");
//     tl.set(addedLineRedFlash, {opacity: 1}, "<");
//     tl.set(addedLine1, {fill: cyan, stroke: cyan}, "<+0.4");
//     tl.set(testsFailingFlash, {opacity: 0}, "<");
//     tl.set(addedLineRedFlash, {opacity: 0}, "<");
//     tl.set(addedLine1, {fill: brightRed, stroke: brightRed}, "<+0.4");
//     tl.set(testsFailingFlash, {opacity: 1}, "<");
//     tl.set(addedLineRedFlash, {opacity: 1}, "<");
//     tl.set(addedLine1, {fill: cyan, stroke: cyan}, "<+0.4");
//     tl.set(testsFailingFlash, {opacity: 0}, "<");
//     tl.set(addedLineRedFlash, {opacity: 0}, "<");
//     tl.set(addedLine1, {fill: brightRed, stroke: brightRed}, "<+0.4");
//     tl.set(testsFailingFlash, {opacity: 1}, "<");
//     tl.set(addedLineRedFlash, {opacity: 1}, "<");
//     tl.set(addedLine1, {fill: cyan, stroke: cyan}, "<+0.4");
//     tl.set(testsFailingFlash, {opacity: 0}, "<");
//     tl.set(addedLineRedFlash, {opacity: 0}, "<");

    return tl;
  }
  function fixFirstBug () {
    var tl = gsap.timeline();

    // move bob around
    // changeElement(tl, bobsCursor, {x: "+=4", y: "+=4", duration: 0.5, delay: 6}, 0);

    // backspace 1
    tl.to(addedLine1, { duration: 0, delay: 0.2, scaleX: "0.9"}, 0);
    changeElement(tl, bobsCursor, {x: "+=7", y: "+=4", duration: 0.5}, "<"); // move bob 
    tl.to(cursor, { duration: 0, x: "-=2.5"}, "<");

    // set tests running
    tl.set(testsFailing, {opacity: 0}, "<=");
    tl.set(testsRunning, {opacity: 1}, "<");
    
    // backspace 2
    tl.to(addedLine1, { duration: 0, delay: 0.2, scaleX: "0.8"}, "<");
    tl.to(cursor, { duration: 0, x: "-=3"}, "<");
    
    // backspace 3
    tl.to(addedLine1, { duration: 0, delay: 0.2, scaleX: "0.7"});
    tl.to(cursor, { duration: 0, x: "-=3"}, "<");
    
    // backspace 4
    tl.to(addedLine1, { duration: 0, delay: 0.5, scaleX: "0.6"});
    tl.to(cursor, { duration: 0, x: "-=3"}, "<");
    
    // backspace 5
    tl.to(addedLine1, { duration: 0, delay: 0.3, scaleX: "0.5"});
    tl.to(cursor, { duration: 0, x: "-=3"}, "<");

    // bug fix type 1
    tl.to(addedLine1, { duration: 0, delay: 1, scaleX: "0.6"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");
    
    // bug fix type 2
    tl.to(addedLine1, { duration: 0, delay: 0.5, scaleX: "0.7"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");
    changeElement(tl, bobsCursor, {x: "+=3", y: "+=4", duration: 0.5}, "<"); // move bob 
    
    // bug fix type 3
    tl.to(addedLine1, { duration: 0, delay: 0.3, scaleX: "0.8"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");

    // set tests passing
    tl.set(testsRunning, {opacity: 0, delay: 1.5});
    tl.set(testsPassing, {opacity: 1}, "<");

    // flash line green
    tl.set(addedLine1, {fill: brightGreen, stroke: brightGreen}, "<");
    tl.set(addedLineGreenFlash, {opacity: 1, scaleX: "0.8"}, "<");
    tl.set(testsPassingFlash, {opacity: 1}, "<");
    tl.set(addedLine1, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(addedLineGreenFlash, {opacity: 0}, "<");
    tl.set(testsPassingFlash, {opacity: 0}, "<");
    tl.set(addedLine1, {fill: brightGreen, stroke: brightGreen}, "<+0.4");
    tl.set(addedLineGreenFlash, {opacity: 1}, "<");
    tl.set(testsPassingFlash, {opacity: 1}, "<");
    tl.set(addedLine1, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(addedLineGreenFlash, {opacity: 0}, "<");
    tl.set(testsPassingFlash, {opacity: 0}, "<");
    tl.set(addedLine1, {fill: brightGreen, stroke: brightGreen}, "<+0.4");
    tl.set(addedLineGreenFlash, {opacity: 1}, "<");
    tl.set(testsPassingFlash, {opacity: 1}, "<");
    tl.set(addedLine1, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(addedLineGreenFlash, {opacity: 0}, "<");
    tl.set(testsPassingFlash, {opacity: 0}, "<");
    tl.set(addedLine1, {fill: brightGreen, stroke: brightGreen}, "<+0.4");
    tl.set(addedLineGreenFlash, {opacity: 1}, "<");
    tl.set(testsPassingFlash, {opacity: 1}, "<");
    tl.set(addedLine1, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(addedLineGreenFlash, {opacity: 0}, "<");
    tl.set(testsPassingFlash, {opacity: 0}, "<");

    return tl;
  }

  function move_bobs_cursor_0() {
    var tl = gsap.timeline();
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0}, "<+=4");
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0}, "<+=0.5");
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0}, "<+=0.1");
    return tl;
  }

  function move_bobs_cursor_1() {
    var tl = gsap.timeline();
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.5});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.5});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});

    changeElement(tl, bobsCursor, {y: "-=4", x: "-=15", duration: 0.5});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.5});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    return tl;
  }
  function move_bobs_cursor_2() {
    var tl = gsap.timeline();
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.5});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.5});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});

    changeElement(tl, bobsCursor, {y: "+=4", x: "+=2", duration: 0.5});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.5});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    changeElement(tl, bobsCursor, {x: "+=3", duration: 0, delay: 0.2});
    return tl;
  }
  function type_second_line() {
    var tl = gsap.timeline();
    // setup
    tl.set(addedLine2, {scaleX: "0.01"}, 0);

    // move cursor to beginning of next line
    moveCursor(tl, {y: "+=4.1", x: "-=23"}, 0);

    // move text down
    changeElement(tl, textChunk2, {y: "+=4.1"}, 0);

    // set tests running
    tl.set(testsPassing, {opacity: 0}, 0);
    tl.set(testsRunning, {opacity: 1}, 0);

    // type in first line 1
    tl.to(addedLine2, {duration: 0, delay: 0.5, opacity: "1", scaleX: "0.1"}, 1);
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");

    // type in first line 2
    tl.to(addedLine2, { duration: 0, delay: 0.5, opacity: "1", scaleX: "0.2"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");

    // type in first line 2
    tl.to(addedLine2, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.3"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");

    // type in first line 3
    tl.to(addedLine2, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.4"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");

    // type in first line 4
    tl.to(addedLine2, { duration: 0, delay: 0.5, opacity: "1", scaleX: "0.5"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");
    
    // type in first line 5
    tl.to(addedLine2, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.6"});
    tl.to(cursor, { duration: 0, x: "+=2.5"}, "<");
    
    // type in first line 6
    tl.to(addedLine2, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.7"});
    tl.to(cursor, { duration: 0, x: "+=2.5"}, "<");
    
    // type in first line 7
    tl.to(addedLine2, { duration: 0, delay: 0.2, opacity: "1", scaleX: "0.8"});
    tl.to(cursor, { duration: 0, x: "+=2.5"}, "<");
    
    // type in first line 8
    tl.to(addedLine2, { duration: 0, delay: 0.5, opacity: "1", scaleX: "0.9"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");
    
    // type in first line 9
    tl.to(addedLine2, { duration: 0, delay: 0.3, opacity: "1", scaleX: "1"});
    tl.to(cursor, { duration: 0, x: "+=3"}, "<");
   
    // set tests failing
    tl.set(testsFailing, {opacity: 1, delay: "0.5"}, "<+");
    tl.set(testsRunning, {opacity: 0}, "<");

    return tl;
  }

  function switchBobOn() {
    var tl = gsap.timeline();

    // switch bob on
    changeElement(tl, bobSwitch, {x: "+=4.1", fill: cyan, stroke: cyan});
    changeElement(tl, bobToggleFrame, {stroke: cyan}, "<");
    changeElement(tl, bobFeatureText, {fill: cyan, stroke: cyan}, "<");

    changeElement(tl, bobsLines, {fill: cyan, stroke: cyan}, "<");

    // set tests running
    tl.set(testsPassing, {opacity: 0}, "<");
    tl.set(testsRunning, {opacity: 1}, "<");

    // set tests failing
    tl.set(testsFailing, {opacity: 1}, "<+2");
    tl.set(testsRunning, {opacity: 0}, "<");

    // flash bob's lines red
    tl.set(bobsLines, {fill: brightRed, stroke: brightRed}, "<");
    tl.set(bobsLinesFlashRed, {opacity: 1}, "<");
    tl.set(testsFailingFlash, {opacity: 1}, "<");
    tl.set(bobsLines, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(bobsLinesFlashRed, {opacity: 0}, "<");
    tl.set(testsFailingFlash, {opacity: 0}, "<");
    tl.set(bobsLines, {fill: brightRed, stroke: brightRed}, "<+0.4");
    tl.set(testsFailingFlash, {opacity: 1}, "<");
    tl.set(bobsLinesFlashRed, {opacity: 1}, "<");
    tl.set(bobsLines, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(bobsLinesFlashRed, {opacity: 0}, "<");
    tl.set(testsFailingFlash, {opacity: 0}, "<");
    tl.set(bobsLines, {fill: brightRed, stroke: brightRed}, "<+0.4");
    tl.set(bobsLinesFlashRed, {opacity: 1}, "<");
    tl.set(testsFailingFlash, {opacity: 1}, "<");
    tl.set(bobsLines, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(bobsLinesFlashRed, {opacity: 0}, "<");
    tl.set(testsFailingFlash, {opacity: 0}, "<");
    tl.set(bobsLines, {fill: brightRed, stroke: brightRed}, "<+0.4");
    tl.set(bobsLinesFlashRed, {opacity: 1}, "<");
    tl.set(testsFailingFlash, {opacity: 1}, "<");
    tl.set(bobsLines, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(bobsLinesFlashRed, {opacity: 0}, "<");
    tl.set(testsFailingFlash, {opacity: 0}, "<");

    return tl;
  }

  function findBob() {
    var tl = gsap.timeline();

    changeElement(tl, bobsCursor, {x: "-=3", duration: 0.5}, "<"); // move bob 
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0.2}); // move bob 
    changeElement(tl, bobsCursor, {x: "-=3", duration: 0.2}); // move bob 

    // move cursor to bob's code
    moveCursor(tl, {y: "+=24.7", x: "+=25", duration: 0.5, ease: "bounce"}, "<+2");

    // chat with bob
    changeElement(tl, aliceChatText, {opacity: 1}, "<+2");
    changeElement(tl, bobChatText, {opacity: 1}, "<+4");

    // backspace 1
    changeElement(tl, bobsLine3, {scaleX: "0.95", delay: "2.5", duration: 0});
    moveCursor(tl, {x: "-=3", duration: 0}, "<");

    // set tests running
    tl.set(testsFailing, {opacity: 0}, "<");
    tl.set(testsRunning, {opacity: 1}, "<");

    // backspace 2
    changeElement(tl, bobsLine3, {scaleX: "0.9", duration: 0, delay: "0.2"});
    moveCursor(tl, {x: "-=3", duration: 0}, "<");

    // backspace 3
    changeElement(tl, bobsLine3, {scaleX: "0.85", duration: 0, delay: "0.2"});
    moveCursor(tl, {x: "-=3", duration: 0}, "<");
    changeElement(tl, problematicCodePiece, {opacity: 0, duration: 0}, "<");

    // typing 1
    changeElement(tl, bobsLine3, {scaleX: "0.9", delay: "2.5", duration: 0});
    moveCursor(tl, {x: "+=3", duration: 0}, "<");

    // typing 2
    changeElement(tl, bobsLine3, {scaleX: "0.95", duration: 0, delay: "0.2"});
    moveCursor(tl, {x: "+=3", duration: 0}, "<");

    // typing 3
    changeElement(tl, bobsLine3, {scaleX: 1, duration: 0, delay: "0.2"});
    moveCursor(tl, {x: "+=3", duration: 0}, "<");
    // changeElement(tl, problematicCodePiece, {opacity: 0, duration: 0}, "<");

    // set tests passing
    tl.set(testsRunning, {opacity: 0}, "<+1");
    tl.set(testsPassing, {opacity: 1}, "<");

    // flash bob's lines green
    tl.set(bobsLines, {fill: brightGreen, stroke: brightGreen}, "<");
    tl.set(bobsLinesFlashGreen, {opacity: 1}, "<");
    tl.set(testsPassingFlash, {opacity: 1}, "<");
    tl.set(bobsLines, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(bobsLinesFlashGreen, {opacity: 0}, "<");
    tl.set(testsPassingFlash, {opacity: 0}, "<");
    tl.set(bobsLines, {fill: brightGreen, stroke: brightGreen}, "<+0.4");
    tl.set(bobsLinesFlashGreen, {opacity: 1}, "<");
    tl.set(testsPassingFlash, {opacity: 1}, "<");
    tl.set(bobsLines, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(bobsLinesFlashGreen, {opacity: 0}, "<");
    tl.set(testsPassingFlash, {opacity: 0}, "<");
    tl.set(bobsLines, {fill: brightGreen, stroke: brightGreen}, "<+0.4");
    tl.set(bobsLinesFlashGreen, {opacity: 1}, "<");
    tl.set(testsPassingFlash, {opacity: 1}, "<");
    tl.set(bobsLines, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(bobsLinesFlashGreen, {opacity: 0}, "<");
    tl.set(testsPassingFlash, {opacity: 0}, "<");
    tl.set(bobsLines, {fill: brightGreen, stroke: brightGreen}, "<+0.4");
    tl.set(bobsLinesFlashGreen, {opacity: 1}, "<");
    tl.set(testsPassingFlash, {opacity: 1}, "<");
    tl.set(bobsLines, {fill: cyan, stroke: cyan}, "<+0.4");
    tl.set(bobsLinesFlashGreen, {opacity: 0}, "<");
    tl.set(testsPassingFlash, {opacity: 0}, "<");

    return tl;
  }

  function debug_second_line() {
    var tl = gsap.timeline();
    // setup
    tl.set(addedLine2, {opacity: 0});


    // move cursor to beginning of previous line
    moveCursor(tl, {y: "-=4", x: "-=7"}, 0);

    // move text up
    changeElement(tl, textChunk2, {y: "-=4"}, 0);

    // set tests running
    tl.set(testsFailing, {opacity: 0}, 0);
    tl.set(testsRunning, {opacity: 1}, 0);

    // set tests failing
    tl.set(testsFailing, {opacity: 1}, 1);
    tl.set(testsRunning, {opacity: 0}, 1);

    // shut down bob
    changeElement(tl, bobSwitch, {x: "-=3.1", fill: gray, stroke: gray}, "<+2");
    changeElement(tl, bobToggleFrame, {stroke: gray}, "<");
    changeElement(tl, bobFeatureText, {fill: gray, stroke: gray}, "<");

    // shut down carol
    changeElement(tl, carolSwitch, {x: "-=3.1", fill: gray, stroke: gray}, "<");
    changeElement(tl, carolToggleFrame, {stroke: gray}, "<");
    changeElement(tl, carolFeatureText, {fill: gray, stroke: gray}, "<");
    changeElement(tl, carolsLines, {fill: gray, stroke: gray}, "<");

    // shut down charlie
    changeElement(tl, charlieSwitch, {x: "-=3.1", fill: gray, stroke: gray}, "<");
    changeElement(tl, charlieToggleFrame, {stroke: gray}, "<");
    changeElement(tl, charlieFeatureText, {fill: gray, stroke: gray}, "<");

    // set tests running
    tl.set(testsFailing, {opacity: 0}, "<+1");
    tl.set(testsRunning, {opacity: 1}, "<");

    // set tests passing
    tl.set(testsRunning, {opacity: 0}, "<+1");
    tl.set(testsPassing, {opacity: 1}, "<");

    // switch bob on
    changeElement(tl, bobSwitch, {x: "+=3.1", fill: cyan, stroke: cyan}, "<+2");
    changeElement(tl, bobToggleFrame, {stroke: cyan}, "<");
    changeElement(tl, bobFeatureText, {fill: cyan, stroke: cyan}, "<");

    // set tests running
    tl.set(testsPassing, {opacity: 0}, "<");
    tl.set(testsRunning, {opacity: 1}, "<");

    // set tests failing
    tl.set(testsFailing, {opacity: 1}, "<+2");
    tl.set(testsRunning, {opacity: 0}, "<");

    return tl;
  }

}

</script> 
