.header {
    padding: $spacing-y 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    &__left {
        margin-left: auto;
        margin-right: auto;
        @include mq(md) {
            margin-left: 0;
        }
    }
}
