---
layout: base
eleventyNavigation:
    key: Terminal Sharing
---

<div class="container">
  <section class="hero">
    <div class="taglines">
      <h2 class="h1">Synchronize your editors</h2>
      <h3 class="h2 mb-4">Collaborate with your team</h3>
      <p class="mb-2">Work on features together.<br />
      Divvy up work rather than separating teammates in silos.<br />
      Free your collaboration from your version control.</p>
    </div>
    <div class="lg-right">
      {% include "./includes/ide_sync_image.njk" %}
    </div>
  </section>
</div>
  <article class="container highlight">
{% markdown %}
  {% include "./includes/ide_synchronizer.md" %}
{% endmarkdown %}
    </div>
  </article>
