---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container">
  <div class="hero">
    <div class="taglines">
      <h1 class="mb-1">Developer Collaboration</h1>
      <h2 class="mb-2">Powered by <strong>open source technologies</strong></h2>
      <form>
        <input type="email" id="email" name="email" placeholder="email">
      </form>
    </div>
    <div class="md-right">
      {% image "./src/assets/images/hero.png", "DevSession Logo" %}
    </div>
  </div>
</div>