---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container" id="main">
  <section class="alternate">
  <div class="centered-image">{% include "./includes/hero_image.njk" %}</div>
    <div class="taglines">
      <h1 class="mb-1">Concurrent Coding</h1>
      <h2 class="mb-2">From your own IDE or terminal of choice</h2>
      <h2 class="mb-2">Powered by <strong>open source technologies</strong></h2>
      <form>
        <input type="email" id="email" name="email" placeholder="Email Address">
        <input type="submit" value="Sign up">
      </form>
    </div>
  </section>
</div>
<div class="container highlight">
  <section class="alternate">
    <div class="taglines">
      <h2 class="mb-1">Share your Terminal</h2>
      <h3 class="mb-1">With multiple cursors in numerous panes</h3>
      <p class="mb-2">Need a quick hand with a DevOps task?</p>
      <p class="mb-2">Container troubles?</p>
      <p class="mb-2">Throw up a quick link to collab with!</p>
      <a href="#">Read more...</a>
    </div>
    <div class="lg-right">
      {% include "./includes/terminal_sharing_image.njk" %}
    </div>
  </section>
</div>
<div class="container">
  <section class="hero">
    <div class="taglines">
      <h2 class="mb-1">Synchronize your editors</h2>
      <h3 class="mb-1">Collaborate with your team</h3>
      <p class="mb-2">Work on features together.</p>
      <p class="mb-2">Divvy up work rather than separating teammates in silos.</p>
      <p class="mb-2">Free your collaboration from your version control.</p>
      <a href="#">Read more...</a>
    </div>
    <div class="lg-right">
      {% include "./includes/ide_sync_image.njk" %}
    </div>
  </section>
</div>