---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container">
  <section class="hero">
    <div class="taglines">
      <h1 class="mb-1">Developer Collaboration</h1>
      <h2 class="mb-2">Powered by <strong>open source technologies</strong></h2>
      <form>
        <input type="email" id="email" name="email" placeholder="email">
        <input type="submit">
      </form>
    </div>
    <div class="md-right">
      {% image "./src/assets/images/hero.png", "DevSession Logo" %}
    </div>
  </section>
</div>
<div class="container highlight">
  <section class="alternate">
    <div class="taglines">
      <h2 class="mb-1">Share your Terminal</h2>
      <p class="mb-2">Need a quick hand with a DevOps task?</p>
      <p class="mb-2">Container troubles?</p>
      <p class="mb-2">Throw up a quick link to collab with!</p>
      <a href="#">Sign up to learn more!</a>
    </div>
    <div class="md-right">
      {% image "./src/assets/images/hero.png", "DevSession Logo" %}
    </div>
  </section>
</div>
<div class="container">
  <section class="hero">
    <div class="taglines">
      <h2 class="mb-1">Synchronize your Developers</h2>
      <p class="mb-2">Collaborate with your team</p>
      <p class="mb-2">All from your own IDE and environment</p>
      <p class="mb-2">And with the click of one link</p>
      <a href="#">Sign up to learn more!</a>
    </div>
    <div class="md-right">
      {% image "./src/assets/images/hero.png", "DevSession Logo" %}
    </div>
  </section>
</div>