---
layout: base
---

<div class="container" id="top">
  <section class="alternate">
  <div class="centered-image">{% include "./includes/hero_image.njk" %}</div>
    <div class="taglines">
      <h1 class="">Thanks for registering!</h1>
      <p class="mb-8">You'll be hearing from us as soon as Devsession's early access program goes live!</p>
    </div>
  </section>
</div>