---
layout: base
eleventyNavigation:
    key: Terminal Sharing
---

<div class="container highlight">
  <section class="hero">
    <div class="taglines">
      <h2 class="h1">Share your Terminal</h2>
      <h3 class="h2 mb-4">With multiple cursors in numerous panes</h3>
      <p class="mb-8">Get a shareable URL to your existing terminal session.<br/>
      Collaborate with others using any terminal or browser.<br/>
      See them typing in real time without fighting over the cursor.</p>
      {% include "./includes/form.njk" %}
    </div>
    <div class="lg-right">
      {% include "./includes/terminal_sharing_image.njk" %}
    </div>
  </section>
</div>
  <article class="container">
{% markdown %}
  {% include "./includes/terminal_sharing.md" %}
{% endmarkdown %}
    </div>
  </article>
